body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(250, 250, 250);
  min-height: 100vh;
  height: 100%;
  padding: 0;
  margin: 0;
}

body img {
  height: none;
}

@font-face {
  font-family: Roslindale;
  src: url("/fonts/RoslindaleDisplayCondensed-Bold-Testing");
}

.button {
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  border: solid #03a87c 1px;
  color: #03a87c;
  border-radius: 10px;
  outline: none;
}

.animated.fadeIn {
  animation-duration: 0.1s;
}
.animated.fadeInDown {
  animation-duration: 0.4s;
}
