body {
  font-family: Arial, sans-serif;
  color: #3D4852;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  height: 100%;
  padding: 0;
  margin: 0;
}
